.slider {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

/* EACH SLIDE */

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

/* ACTIVE SLIDE */

.active {
  opacity: 1;
  z-index: 1;
}

/* DARK OVERLAY */

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(15,15,20,0.4),
    rgba(15,15,20,0.7)
  );
  z-index: 2;
}

/* TEXT CONTAINER */

.textContainer {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 3;
  color: white;
  max-width: 600px;
  animation: fadeUp 1.2s ease;
}

.title {
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 20px;
  color: #e5e7eb;
}

/* TEXT ANIMATION */

@keyframes fadeUp {

  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}