.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  overflow: hidden;
}

/* EACH SLIDE */

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

/* ACTIVE SLIDE */

.active {
  opacity: 1;
  z-index: 1;
}

/* DARK OVERLAY */

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(15,15,20,0.4),
    rgba(15,15,20,0.7)
  );
  z-index: 2;
}

/* TEXT CONTAINER */

.textContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  z-index: 3;
  color: white;

  text-align: center;

  max-width: 800px;
  width: 90%;

  animation: fadeUp 1.2s ease;
}
.title {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: -0.5px;
}

.subtitle {
  font-size: 20px;
  color: #e5e7eb;
  font-weight: 400;
}@media (max-width: 768px) {

  .title {
    font-size: 36px;
  }

  .subtitle {
    font-size: 16px;
  }

}
/* TEXT ANIMATION */

@keyframes fadeUp {

  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}